@import url(./common.css);

.navbar-landing{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10rem;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color:rgb(2 2 16);
}

.logo-div {
    width: 100%;
    height: 90px;
    cursor: pointer;
}
.link{
    color: var(--text-color);
}

.img-responsive{
    width: 100%;
    height: 100%;
}

.logo{
    width: 18%;
    height: 150px;
    cursor: pointer;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 1310px;
    margin: 8rem auto;
    height: auto;
}

.main{
    margin: 0 0 2rem 0;
    background: url(../assets/images/keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--shadow);
    color: white;
    border-radius: 5px;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.introduction{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: large;
    margin-left: 3rem;
}
.doc-para{
    font-weight: 500;
}

.primary-btn{
    background-image: linear-gradient(to right,#0c8fd4,#df09c7);
    color: white;
}

.primary-btn:hover{
    color: white;
    
}
.secondary-btn{
    background-image:linear-gradient(to right,#0c8fd4,#df09c7);
    color: white;
}

.secondary-btn:hover{
    color: white;
}

.main-btn{
    display: inline-block;
    padding: 1rem;
    border: none;
    font-size: large;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 1rem;
    transition: 0.3s;
    
}




/* .heading{
    text-align: center;
} */

.products{
    height: 73vh;
    margin: 1rem 0;
    display: grid;
    grid-template-areas: 
    "games games console"
    "games games accessories";
    grid-gap: 10px;
    color: white;
    font-size: 1.5rem;
}

.product{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}

.product:hover{
    transform: scale(1.01);
    transition: all 0.5s;
}

.games{
    grid-area: games;
    background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.8)), url(../assets/images/games.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.games:hover{
    background-image:url(../assets/images/games.jpg);
    box-shadow: var(--shadow-cart);
}

.console{
    grid-area: console;
    background-image: linear-gradient(to bottom,rgba(250, 250, 250, 0.2), rgba(0, 0, 0, 0.8)), url(../assets/images/console.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.console:hover{
    background-image: url(../assets/images/console.jpg);
    box-shadow: var(--shadow-cart);
}
.accessories{
    grid-area: accessories;
    background-image: linear-gradient(to bottom,rgba(250, 250, 250, 0.2), rgba(0, 0, 0, 0.8)), url(../assets/images/accessories.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.accessories:hover{
    background-image: url(../assets/images/accessories.jpg);
    box-shadow: var(--shadow-cart);
}


.social-media{
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(4,20%);
    justify-content: space-between;
}

.social-link{
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 4px;
}

.social-link:hover{
    border: 2px solid gray;
    box-shadow: var(--shadow-cart);
}

.social-icon{
    font-size: 4rem;
    color: var(--text-color);
}

.mockman{
    margin-top: 8rem;
}

.footer{
    background-color: rgb(156 156 158);;
    height: auto;
    width: 100%;
    padding: 1rem;
    position: relative;
    z-index: 1;
}

.footer-brands{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.brand-icon{
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.small-brand-icon{
    width: 80px;
}

.footer-details{
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-about-us{
    width: 50ch;
}

.footer-social{
    width: 15%;
}

.footer-social-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}