
.product-container{
    display: flex;
    margin: 7rem 0 1rem 0;
}

/* .hammerIcon{
    display: none;
} */



.filter-container {
    color: var(--text-color);
    width: 305px;
    padding: 1.4rem;
    position: sticky;
    top: 80px;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid var(--line-color);
}

.filter-header{
    display: flex;
    justify-content: space-between;
}
.filter-header button{
    color: var(--text-color);
}

.filter-item{
    margin: 1rem 0;
}



.btn{
    padding: 0;
    margin: 5px 0;
    width: auto;
}


.price-range{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider{
    width: 100%;
}

.filter-category{
    display: flex;
    flex-direction: column;
}

.filter-label{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.filter-check{
    width: 15px;
    height: 15px;
    display: inline;
}


.product-items-container{
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.product-items-container{
    color: var(--text-color);
}


.product-items-container h1 span{
    font-size: 1rem;
}

.product-items{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 250px));
    grid-gap: 2rem;       
}

.card-product{
    width: 100%;
    box-shadow: var(--shadow-cart);
    height: 439px;
}

.card-product:hover{
    box-shadow: var(--shadow-product-hover);
}

.card-product-body{
    flex-direction: column;
}


.card-product-img-cont{
    width: 100%;
    height: 16rem;
    position: relative;
}



.offer-icon {
    position: absolute;
    color: #9ce7ff;
    font-size: 2.8rem;
}
.offer-percentage {
    position: absolute;
    /* color: var(--text-color); */
    color: black;
    font-size: 12px;
    top: 14px;
    left: 12px;
    font-weight: bold;
}

.card-header h3 span{
    color: gray;
}

.price-container h5{
    margin:0;
    color: var(--text-color);
    font-size: 0.83em;
}
.btn {
    margin: 0;
    width: 100%;
    height: fit-content;
    padding: 7px;
}
.product-btn{
    color: var(--text-color);
    border-top: 2px solid #1c285e;
    border-radius: 3px;
}

.product-btn:hover{
    border-top: 2px solid #2badec;
    border-left: 2px solid #2badec;
    border-right: 2px solid #2badec;
    letter-spacing: 3px;
}

.hammerBtn{
    color: white;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    display: none;
}

