@media only screen and (max-width:1020px){
    .nav-ul{
        width: 33%;
    }
    .main{
        height: 50vh;
        margin: 0 2rem;
    }
    .introduction h3{
        font-size: 1.01rem;
    }
    .introduction h1{
        font-size: 1.5rem;
    }
    .main-btn{
        padding: 7px;
        font-size: 1rem;
    }
    .products {
        height: 160vh;
        margin: 0 2rem;
        grid-template-areas:
            "games games"
            "console console"
            "accessories accessories";
    }
    .product{
        justify-content: center;
    }
    .footer-details {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .footer-social {
        width: 30%;
    }
}

@media only screen and (max-width:1210px){
    .cart-container{
        flex-direction: column;
        max-width: 60%;
    }
    .cart-items-container{
        width: 70%;
        margin: 0 auto;
    }
    .price-details{
        width: 70%;
        align-self: center;
    }
    .checkout{
        width: 70%;
        position: sticky;
        bottom: 0;
        align-self: center;
    }
}


@media only screen and (max-width:675px){
    .fa-icon {
        font-size: 1.2rem;
    }
    .nav-ul{
        width: 45%;
    }
    .logo-div{
        width: 75%;
    }
    .cart-items-container{
        width: 80%;
        margin: 0 auto;
    }
    .price-details{
        width: 80%;
        align-self: center;
    }
    .checkout{
        width: 100%;
    }
}
@media only screen and (max-width:575px){
    .nav-ul{
        width: 70%;
    }
    .logo-div{
        width: 85%;
    }
    .logo{
        width: 100%;
        display: flex;
    } 
    .main{
        height: 40vh;
    }
    .introduction h3{
        font-size: 1.01rem;
    }
    .introduction h1{
        font-size: 1.5rem;
    }
    .cart-items-container{
        width: 100%;
        margin: 0 auto;
    }
    .price-details{
        width: 100%;
        align-self: center;
    }
    .footer-social {
        width: 51%;
    }
}

@media only screen and (max-width:480px){
    .main{
        width: 141vw;
        margin: 0;
    }
    .products {
        margin: 0 1rem;
        width: 138vw;
    }
    .footer{
        width: 145vw;
        margin: 0;
    }
    .footer-details{
        margin:0 2rem;
    }
    .introduction h3{
        font-size: 14px;
    }
    .introduction h1{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:350px){
    .main{
        width: 180vw;
        margin: 0;
    }
    .footer{
        width: 185vw;
        margin: 0;
    }
    .footer-details{
        margin:0 4rem;
    }
}

