.single-product-cont{
    width: 100%;
    max-width: 80%;
    height: auto;
    margin: 7rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.single-product-img-cont{
    width: 40%;
    height: 31rem;
}

.single-product-details{
    color: var(--text-color);
    background-color: var(--card-bg-color);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.single-card-body{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-desc {
    width: 54ch;
    margin-top: 10px;
}