.wishlist-container{
    padding: 10px;
    width: 100%;
    max-width: 90%;
    margin: 7rem auto;
    height: auto;
    grid-gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-wishlist{
    width: 230px;
    height: 389px;
    border: none;
    box-shadow: var(--shadow-wishlist);
}
.wishlist-img-cont {
    width: 100%;
    height: 15rem;
}

.img-responsive{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-header h5{
    margin: 0;
}

.card-footer{
    height: auto;
    padding: 0;
}

.wishlist-btn{
    color: var(--text-color);
    border: 2px solid #46074f;
    border-radius: 3px;
}

.wishlist-btn:hover{
    border: 2px solid #e752fd;
}


.wishlist-footer{
    flex-direction: column;
}