.form-container{
    width: 100%;
    max-width: 25%;
    margin: 7rem auto;
    height: auto;
}

.form-container h1{
    color: var(--text-color);
}


.checkbox-input{
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(1.5);
  padding: 10px;
  display: inline;
}

.input-label-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputs-title{
    margin-left: 0.5rem;
    display: inline;
}


/* to place item at right end  */
.login-forgot-link{
    margin-left: auto;
    color: rgb(91, 91, 255);
    font-weight: bold;
}

.formBtn{
    margin: 5px 0;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.formBtn:hover{
    background-color: blue;
    color: white;
}