

.cart-container{
    padding: 10px;
    width: 100%;
    max-width: 60%;
    margin: 7rem auto;
    height: auto;
    grid-gap: 2.5rem;
    /* background-color: rgb(177, 176, 176); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: grid;
    grid-template-areas: 
    "heading heading"
    "cart_item price_details"; */
    /* position: relative; */
}

.cart-items-container{
    width: 50%;
    margin-right: 20px;
}

.cart-item{
    box-shadow: var(--shadow-cart);
}

.card-body{
    padding: 0.5rem;
}


.card-img-cont {
    width: 18rem;
    height: 10rem;
}

.img-responsive{
    width: 100%;
    /* height: auto; */
    object-fit:cover;
    object-position:center;
}


.card-header h4{
    color: var(--text-color);
}
.card-header h4 span{
    color: gray;
}


.quantity-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.3rem;
}

.quantity-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
    width: 50%;
}

.quantity-input span{
    font-size: 1.3rem;
}

.quantity-btn{
    padding: 4px;
    background-color: transparent;
    color: var(--text-color);
    border-radius: 50%;
    border: 2px solid white;
    width: 2rem;
    cursor: pointer;
}



.btn{
    margin: 0;
    width: 100%;
    height: fit-content;
    padding: 7px;
    border-radius: 1px;
}

.btn-icon {
    width: 1rem;
    height: 1rem;
}

.cart-btn{
    color: var(--text-color);
    border: 2px solid #1c285e;
    border-radius: 3px;
}

.cart-btn:hover{
    border: 2px solid #2badec;
}




.price-details{
    padding: 1rem;
    width: 50%;
    background-color: var(--card-bg-color);
    color: var(--text-color);
    align-self: flex-start;
    border-radius: 4px;
    box-shadow: var(--shadow-cart);
}

.divider-line {
    margin: 0.5rem 0 0.5rem 0;
}

.charges-amt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}